@font-face {
    font-family: "Anta";
    src: url("/fonts/Anta/Anta-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Theme tokens for easy adjustments */
:root {
    --yellow: rgb(255, 217, 0);
    --purple: blueviolet;
    --yellow-hover: rgb(255, 229, 82);
    --grey: hsl(0, 0%, 16%);
    /* --grey-light: hsl(0, 0%, 16%); */
    --sl-color-text-accent: var(--yellow); /* Dark theme styles */
    --sl-color-bg-nav: var(--grey);
    --sl-color-bg-sidebar: var(--grey);
    header {
        background-color: black;
        .site-title {
            color: var(--yellow);
            font-family: "Anta";
        }
        .social-icons {
            a {
                color: white;
            }
        }
    }
    .sidebar-pane {
        a:hover {
            &[aria-current="page"] {
                color: black;
                background-color: var(--yellow-hover);
            }
            /* text-decoration-line: underline;
            text-decoration-color: var(--purple); */
            /* color: var(--purple); */
        }
    }
    main {
        color: hsl(224, 10, 23);
        #_top {
            font-family: "Anta";
            font-size: 5rem;
            color: var(--yellow);
        }
        .sl-link-button {
            &.primary {
                border: none;
                background-color: var(--yellow);
                &:hover {
                    /* background-color: var(--yellow-hover); */
                    background-color: var(--purple);
                    color: white;
                }
            }
            &.minimal {
                background-color: var(--grey);
            }
        }
    }
}

:root[data-theme="light"] {
    /* Light theme styles */
    --yellow: rgb(255, 217, 0);
    --purple: blueviolet;
    --grey: hsl(224, 10, 23);
    --sl-color-text-accent: blueviolet; /* Dark theme styles */
    header {
        background-color: black;
        .site-title {
            color: var(--yellow);
        }
        .social-icons {
            a {
                color: white;
            }
        }
    }
    main {
        color: hsl(224, 10, 23);
    }
}
